* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  overflow-x: hidden;
  max-width: 100%;
  vertical-align: baseline;
}

.grid-wrapper {
  display: grid;
  width: 100%;
  grid-template: repeat(24, 1fr) / repeat(12, 1fr);
}

header h1 {
  font-weight: 600px;
  font-style: italic;
  font-size: 5vh;
}

header {
  padding: 30%;
  font-family: 'Lora', serif;
  grid-row: 1 / 9;
  grid-column: 1 / 13;
  z-index: 10;
  background-image: url('resources/climbing.jpg');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: aliceblue;
}

.flex-wrapper {
  background-color: #D0D2D1;
  grid-area: 9 / 1 / 25 / 13;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-wrapper figure {
  height: 40vh;
  flex-grow: 1;
}

img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.last {
  min-height: 100%;
}

@media screen and (max-width: 870px) {
  .last {
    max-width: 50%;
  }
}
