* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  overflow-x: hidden;
  max-width: 100%;
}

.grid-wrapper {
  display: grid;
  width: 100%;
  grid-template: repeat(24, 1fr) / repeat(12, 1fr);
}

header {
  grid-row: 1 / 5;
  grid-column: 1 / 13;
  z-index: 10;
  color: aliceblue;
}

img {
  grid-row: 8 / 16;
}
